<nav class="navbar">
  <div class="container">
    <div class="logo">
      <img src="../public/images/mpk-logo.png" alt="" />
      <a href="#" class="logo-name">Marvelius Putra</a>
    </div>
    <button class="menu-toggle" id="menuToggle">
      <i class="fas fa-bars"></i>
    </button>

    <ul class="menu-link" id="menuLink">
      <li><a href="../src/#home">Home</a></li>
      <li><a href="../src/#about">About Me</a></li>
      <li><a href="../src/#experience">Experience</a></li>
      <li><a href="../src/#projects">Projects</a></li>
      <li><a href="../src/#skills">Skills</a></li>
      <li><a href="../src/#contact">Contact</a></li>
    </ul>
  </div>
</nav>
