<div class="contact">
  <div class="contact-section">
    <p class="contact-label">Contact</p>
    <h2 class="contact-title">Contact Me</h2>
    <hr class="contact-divider" />
    <p class="contact-description">
      Let's work together or just say hello!<br />
      Feel free to reach out to me.
    </p>
  </div>

  <div class="contact-info">
    <div class="contact-item">
      <i class="fas fa-envelope"></i>
      <span>marveliusp.kenardi@gmail.com</span>
    </div>
    <div class="contact-item">
      <i class="fab fa-linkedin"></i>
      <a href="https://www.linkedin.com/in/marveliusp-kenardi" target="_blank"> linkedin.com/in/marveliusp-kenardi </a>
    </div>
    <div class="contact-item">
      <i class="fas fa-phone"></i>
      <span>+62 819-1022-2990</span>
    </div>
    <div class="contact-item">
      <i class="fab fa-instagram"></i>
      <span>marveliuspk</span>
    </div>
    <div class="contact-item">
      <i class="fas fa-map-marker-alt"></i>
      <span>Bandung, Indonesia</span>
    </div>
  </div>
</div>
<p class="copyright">© 2024 Marvelius Kenardi. All Rights Reserved.</p>
